@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

  
 
:root {
       --cor0: #cdd916;
       --cor1: #0074da;
       --cor2: #365fd9;
       --cor3: #010440;
       --cor4: #010326;
       --cor5: #accbee;

       --font-padrao: 'Titillium Web', sans-serif;

}

* { font-family: var(--font-padrao);   
    margin: 0px;
    padding: 0px;
}
body { 
       background-color: var(--cor5);
}
a {
       text-decoration: none;
       color: #010326;
}

/*cabeçalho */

.nav-list { 
       display: flex;
       list-style: none;
       word-spacing: 5px;
       margin-left: 32px;
       flex-wrap: wrap;
}
.nav-list > li > a { 
       color: white;               
}
nav {
       display: flex;
       justify-content: space-around;
       align-items: center;
       background-color: var(--cor0);
       height: 15vh;
       max-width: 100%;
       margin: auto;
       max-width: 1170px;
       padding: 0px 20px;
       
       

}
/*fim do cabeçalho */

/* Fotografia*/
picture {
       padding: -10px;

}
div > img { 
       padding: 20px ;
       background-color: white;
}

.photo-home {      
       display: flex;
       background-color: var(--cor0);
       padding: 20px;
       flex-direction: column;
       align-items: flex-end;
       justify-content: center;
       max-width: 100%;
       margin: auto;
       max-width: 1170px;
       
}
.description {
       margin-top: -45px;
       max-width: 380px;
       padding: 0px 20px 30px 20px;
       text-align: justify;
       background-color: white;

}
.button {
       display: inline-block;
       padding: 3px 0px 0px 150px;
             
}
.button > a {       
       font-weight: lighter;
       background-color: var(--cor1);
       color: white;
       padding: 5px 10px;
       border-radius: 3px;
       
}
/* Fim da fotografia*/


/*Rodapé*/
footer {  
       background-color: #ffffff;
       height: 8vh;
       text-align: center;
       font-weight: bold;
       padding: 10px;
       word-spacing: 10px;


}
/* Fim*/

