@charset "UTF-8";

@font-face {
       
       font-family: 'PantonNarrow';
       src: url('font/PantonNarrowDemo-Black.otf');

  }
@font-face {
       font-family: 'PantonLight';
       src: url('font/PantonNarrowDemo-Light.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root {
       --cor0: #F5F5F5;
       --cor1: #87CEEB;
       --cor3: #9c00ff;
       --cor4: #00FFFF;
       
       --font-padrao: 'PantonNarrow', sans-serif;
       --font-light: 'PantonLight', sans-serif;
       --font-descrição: 'Open Sans', sans-serif;
       

}

* { font-family: var(--font-padrao);   
    margin: 0px;
    padding: 0px;
}
body {
       background-color:  #87CEEB;
}
/*cabeçalho */

#header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 12vh;       
       margin: auto;
       max-width: 1170px;
       background-image: linear-gradient(to right, var(--cor1), var(--cor0), var(--cor1));
       
       

}
#LOGO {
       margin: 20px;
       max-height: 8vh;
       height: 100%;
       
}
#menu { 
       display: flex;
       list-style: none;
       flex-flow: row wrap;
}

#menu > li > a { 
       color: rgba(0, 0, 0, 0.5); 
       letter-spacing: 2px;
       font-size: 1rem;
       text-decoration: none;
       margin: 0px 5px;
       border-radius: 20px;
       padding: 10px 20px; 
       cursor: pointer;
       box-shadow: inset 0 0 0 0 var(--cor4);
       -webkit-transition: ease-out 0.4s;
       -moz-transition: ease-out 0.4s;
       transition: ease-out 0.4s;            
}
#menu > li > a:hover { 
       border: 2px solid #ffffff; 
       color: black;
       padding: 10px 20px;     
       box-shadow: inset 400px 50px 0 0 var(--cor3);   
       font-weight: bolder;       
}


/*fim do cabeçalho */
/*Sessão 1*/
.picture h1 {
       color: var(--cor2);
      
}
.section-1 {
       background-image: linear-gradient(to right, var(--cor1), var(--cor0), var(--cor1));
       max-width: 1170px;
       margin: auto;
       
       
      
       
}
.section-1 p { 
       text-align: center;
       padding: 50px 0px;
}
.section-1 img{ 
       display: flex;
       justify-content: center;
       
       margin: auto;
}
/*Footer*/
#btn-mobile {
       display: none;
}

.rodape { 
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       background-color: white;
       max-width: 1170px;
       margin: auto;
       height: 8vh;
       border-radius: 35px 35px 0px 0px;
       margin-top: -30px;
       
}
.rodape img {
       opacity: 0.6;
       margin: 0px 10px;
}
.rodape img:hover {
       opacity: 1;
       padding-bottom: 10px;
       transition: 0.4s;
}
.rodape a { 
       font-family: var(--font-padrao);
       font-weight: bolder;
       font-size: 1rem;
       color: black;
       text-decoration: none;
       margin: 0px 10px;
       box-shadow: inset 0 0 0 0 var(--cor4);
       -webkit-transition: ease 0.4s;
       transition: ease-out 0.4s; 
       
}
.rodape a:hover{
       
       border-radius: 3px;
       
       

}
/*Formação*/
.formacao-1 { 
       background-image: linear-gradient(to right, var(--cor1), var(--cor0), var(--cor1));
       max-width: 1170px;
       margin: auto;
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       padding-bottom: 50px;
}

.photo-historia {      
       display: flex;
       flex-wrap: nowrap;
       flex-direction: column;
       padding: 20px;
       max-width: 400px;
       background-color: white;
       margin: 20px;
       
}
.photo-historia > img {
       width: 100%;
}
.photo-historia h4 {
       font-weight: 400;
       font-family: var(--font-descrição);
       text-align: justify;
       
}
.box-certificados{
       max-width: 600px;
       width: 100%;
       margin: 0px 20px;
}
.certificados li {
       margin: 0px 30px;
       list-style: none;
       max-width: 600px;
       padding: 5px;
       background-color: #808080a9;
       margin-bottom: 10px;
       border-radius: 10px;
       color: white;
       
       
}
.certificados h2 {
       padding: 0px 10px;
       border-radius: 10px;
       background-image: linear-gradient(to right, var(--cor0), var(--cor1));
       color: black;
       letter-spacing: 1px;
}
.certificados li a {
       margin: 3px;
       
       
}
.certificados li a:hover {
       color: var(--cor2);
}
.formacao-1 li a {
       color: black;
       text-decoration: none;
       margin: 10px;
       font-family: PantonLight ;
       font-weight: 600;       
       
}

/*imagens*/ 
.imagens-section-1 { 
       background-image: linear-gradient(to right, var(--cor1), var(--cor0), var(--cor1));
       max-width: 1170px;
       margin: auto;
       display: flex;
       flex-flow: row wrap;
       justify-content: space-around;
       align-items: flex-start;
       padding-bottom: 50px;
}
.imagens-section-1 h3{ 
       color: black;
       text-align: right;
       font-size: 1rem;
}
.carrossel { 
       max-width: 650px;
       margin: 20px;
      
}


.fotografias {
       margin: 20px 00px ;
       padding: 3px 10px;
       border-radius: 10px;
       background-image: linear-gradient(to left, #12ced579, var(--cor1));
       width: 450px;
}
.fotografias h2 {
       color: white;
       text-align: right;
       letter-spacing: 1px;
}
.fotografias p {
       text-align: right;
       font-weight: 700;
       font-family: var(--font-light);
       color: black;
}    
.fotografias-2 {
        margin: 20px 00px ;
        padding: 3px 10px;
       border-radius: 10px;
       background-image: linear-gradient(to right, #12ced579, var(--cor1));
       width: 450px;
 }
.fotografias-2 h2 {
              color: white;
              text-align: center;
              letter-spacing: 1px;
  }
.fotografias-2 p {
              text-align: left;
              font-weight: 300;
              font-family: var(--font-descrição);
              color: black;
}
.imagens-section-2 h3{
       font-size: 1rem;
       color: black;
}
.imagens-section-2 { 
       background-image: linear-gradient(to right, var(--cor1), var(--cor0), var(--cor1));
       max-width: 1170px;
       margin: auto;
       display: flex;
       flex-flow: row wrap;
       justify-content: space-around;
       align-items: flex-start;
       padding-bottom: 50px;
}
/*Vídeos*/
.section-video-1 {
       background-image: linear-gradient(to right, var(--cor1), var(--cor0), var(--cor1));
       max-width: 1170px;
       margin: auto;
       padding-bottom: 50px;


}
.flexbox-video {
       display: flex;
       flex-flow: row wrap;
       justify-content: space-around;
       
}
.video-box {
     
      padding: 20px;
      padding-right: 90%;
      padding-bottom: 50% ;
      position: relative;
      border-radius: 10px;
}
.video-box > iframe {
       
       position: absolute;
       top: 5%;
       left: 5%;
       width: 90% ;
       height: 90% ;
}
.description-video { 
       padding: 20px;
      
}
.description-video h2 { 
       padding: 0px 10px;
       border-radius: 10px 0px 0px 10px;
       background-image: linear-gradient(to right, var(--cor0), var(--cor1));
       color: rgb(54, 54, 54);
       letter-spacing: 1px;
       
}
.description-video p { 
       max-width: 600px;
       width: 100%;
       margin: 0px 20px;
       
       background-color: #808080;
       margin-bottom: 10px;
}

@media (max-width: 500px) {

#btn-mobile {
       
       display: flex;
       color: rgba(0, 0, 0, 0.5); 
       
       font-size: 1rem;
       text-decoration: none;
       margin: 0px 10px;
       border-radius: 20px;
       padding: 10px 20px; 
       cursor: pointer;
       box-shadow: inset 0 0 0 0 var(--cor4);
       -webkit-transition: ease-out 0.4s;
       -moz-transition: ease-out 0.4s;
       transition: ease-out 0.4s;
}
#menu {
       
       display: none;
       position: absolute;
       width: auto;
       right: 0px;
       top: 70px;
       text-align: center;
       height: calc (100vh -70px);
       margin: 0px 10px;
       z-index: 1000;
       transition:  .6s;
       visibility: hidden;     
       overflow-y: hidden;  
       flex-direction: column;
}
#menu li a {
       margin: 0.2rem;
       padding:  10px 10px;
       display: block;
}

.rodape {
       height: 12vh;
}
#nav.active #menu {
       display: flex;
       visibility: visible;
       overflow: auto;
       background-color: var(--cor1);
       border-radius: 5px;

}
#hamburguer {
       border-top: 2px solid;
       width: 20px;
       display: block;
}
#hamburguer::after, #hamburguer::before {
       content: '';
       display: block;
       width: 20px;
       height: 2px;
       background: currentColor;
       margin-top: 5px;
       transition: .3s;
       position: relative;
}
#nav.active #hamburguer{
    border-top: transparent;

}
#nav.active #hamburguer::after {
       transform: rotate(135deg);
       top: -7px;
}
#nav.active #hamburguer::before {
       transform: rotate(-135deg);

}
}
