@charset "UTF-8";
 
body { 
    background-image: linear-gradient(to right, #dad5d5,#ffffff , #dad5d5);
     font-family: 'Oswald', sans-serif;
     font-size: 1pc;   
     color: #5604d9;
    text-align: center;}
h1 {background-color: #000000; 
    font-family: 'Staatliches', sans-serif;
    ; color: #00f7ff;}
p { font-family: 'Staatliches' ;}